* {
	color: #fff!important;
	-webkit-user-select: none;
	user-select: none;
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background: #000!important;
}
body {
	margin: 0;
	position: relative;
}
main {
	display: block
}
a {
	background-color: transparent
}
a:active, a:hover {
	outline: 0
}
img {
	border: 0
}
@media print {
	a, a:visited {
		text-decoration: underline
	}
	a[href]:after {
		content: " (" attr(href) ")"
	}
	img {
		page-break-inside: avoid
	}
	img {
		max-width: 100%!important
	}
	h2, p {
		orphans: 3;
		widows: 3
	}
	h2 {
		page-break-after: avoid
	}
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
}
a {
	color: #337ab7;
	text-decoration: none
}
a:focus, a:hover {
	color: #23527c;
	text-decoration: underline
}
a:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
img {
	vertical-align: middle
}
.img-responsive {
	display: block;
	max-width: auto;
	height: auto
}
h2 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit
}
h2 {
	margin-top: 20px;
	margin-bottom: 10px
}
h2 {
	font-size: 30px
}
p {
	margin: 0 0 10px
}
.lead {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4
}
@media (min-width:768px) {
	.lead {
		font-size: 21px
	}
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}
@media (min-width:768px) {
	.container {
		width: 750px
	}
}
@media (min-width:992px) {
	.container {
		width: 970px
	}
}
@media (min-width:1200px) {
	.container {
		width: 1170px
	}
}
.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid #fff;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
}
.btn:active:focus, .btn:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
.btn:focus, .btn:hover {
	text-decoration: none
}
.btn:active {
	background-image: none;
	outline: 0;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px
}
.container:after, .container:before {
	display: table;
	content: " "
}
.container:after {
	clear: both
}
@-ms-viewport {
	width: device-width
}
@-ms-viewport {
	width: device-width
}
@viewport {
	width: device-width
}
.btn-outline {
	background: #000;
	border-color: #fff;
}
.btn-outline:active, .btn-outline:focus, .btn-outline:hover {
	background: #333;
}
.bs-docs-booticon {
	display: block;
	font-weight: 500;
	text-align: center;
	cursor: default;
	border-radius: 50%
}
.bs-docs-booticon-lg {
	width: 144px;
	height: 144px;
	font-size: 108px;
	line-height: 140px
}
.bs-docs-booticon-outline {
	border: 1px solid #fff;
}
#content:focus {
	outline: 0
}
.bs-docs-masthead {
	position: relative;
	padding: 30px 0;
	text-align: center;
	border-bottom: 1px solid #fff!important;
	background-repeat: repeat-x
}
.bs-docs-masthead .bs-docs-booticon {
	margin: 0 auto 30px
}
.bs-docs-masthead .lead {
	margin: 0 auto 30px;
	font-size: 20px;
}
@media (min-width:768px) {
	.bs-docs-masthead {
		padding: 80px 0
	}
	.bs-docs-masthead .lead {
		font-size: 24px
	}
	.img-responsive {
		width: -webkit-fill-available;
	}
}
@media (min-width:992px) {
	.bs-docs-masthead .lead {
		width: 80%;
		font-size: 30px
	}
}
.bs-docs-featurette {
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	border-bottom: 1px solid #fff!important;
}
.bs-docs-featurette-title {
	margin-bottom: 5px;
	font-size: 30px;
	font-weight: 400;
}
@media (min-width:480px) {
	.bs-docs-featurette .img-responsive {
		margin-top: 30px;
		margin-right: auto;
		margin-left: auto;
	}
	.img-responsive {
		width: -webkit-fill-available;
	}
}
@media (min-width:768px) {
	.bs-docs-featurette {
		padding-top: 100px;
		padding-bottom: 100px
	}
	.bs-docs-featurette-title {
		font-size: 40px
	}
	.bs-docs-featurette .lead {
		max-width: 80%;
		margin-right: auto;
		margin-left: auto
	}
	.bs-docs-featurette .img-responsive {
		margin-top: 0;
		margin-right: auto;
		margin-left: auto;
	}
	.img-responsive {
		width: -webkit-fill-available;
	}
}
:hover>.anchorjs-link {
	opacity: .75;
	-webkit-transition: color .16s linear;
	-o-transition: color .16s linear;
	transition: color .16s linear
}
:hover>.anchorjs-link:hover {
	text-decoration: none;
	opacity: 1
}