/*! BlackDiscord 0.1.70 by ExeWire */

/* Плеер YouTube */
.ytp-swatch-background-color,.ytp-chrome-controls .ytp-button[aria-pressed]:after{
	background:#fff!important;
}
.ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox{
	background:#333!important;
}
.ytp-ce-expanding-overlay-background, .ytp-offline-slate-button, .ytp-cards-teaser .ytp-cards-teaser-box,.ytp-offline-slate-bar,.ytp-tooltip.ytp-text-detail.ytp-preview,.ytp-popup,.ytp-tooltip-text{
	background:#000!important;
}
.ytp-gradient-top[aria-hidden=true], .ytp-gradient-bottom[aria-hidden=true], .ytp-autohide .ytp-gradient-top, .ytp-autohide .ytp-gradient-bottom,.ytp-gradient-top, .ytp-gradient-bottom,.ytp-tooltip.ytp-preview{
	background:#0000!important;
}
.ytp-ce-expanding-overlay-background, .ytp-offline-slate-button, .ytp-cards-teaser .ytp-cards-teaser-box,.ytp-tooltip.ytp-text-detail.ytp-preview,.ytp-offline-slate-bar,.ytp-popup,.ytp-tooltip-text{
	border: 1px solid #fff!important;
}
.ytp-ce-channel-this .ytp-ce-channel-metadata{
	border-top: 1px solid #000!important;
}
.html5-video-player .ytp-ad-overlay-slot, .ytp-endscreen-content, .dblock, #rvid, #topvbar, .ytp-title-channel, .ytp-hide-controls .ytp-watermark, .ytp-title-text,.ytp-related-on-error-overlay,.ytp-expand-pause-overlay .ytp-pause-overlay{
	display:none!important;
}
/* Прячу кнопки Посмотреть позже и Поделиться в самом плеере для других сайтов */
.ytp-chrome-top-buttons{
	opacity: 0!important;
}
.ytp-chrome-top-buttons:hover{
	opacity: 1!important;
}
.ytp-panel-header{
	border-bottom: 1px solid #fff!important;
}
/* Пришлось сделать обводку у плеерного интерфейса */
.ytp-share-title, .ytp-watch-later-title, .ytp-volume-slider-handle, .ytp-time-separator, .ytp-time-duration, .ytp-time-current, .ytp-progress-list, .html5-video-player svg{
	filter: drop-shadow(0 0 0 #000)drop-shadow(0 0 0 #fff)drop-shadow(0px 0 1px #000)drop-shadow(0 0 0 #000)drop-shadow(0 0 0 #000)drop-shadow(0 0 0 #000)!important;
}
/* РУТ-правило */
:root{
	--background-primary: #000!important;
    --background-secondary: #000!important;
    --background-secondary-alt: #000!important;
    --background-tertiary: #000!important;
    --background-accent: #000!important;
    --background-floating: #000!important;
    --background-mobile-primary: #000!important;
    --background-mobile-secondary: #000!important;
	--background-message-hover: #111!important;
}
/* КЛИЕНТ */
*,::-webkit-input-placeholder, ::placeholder, .embedAuthorName-3mnTWj{
	color:#eaeaea!important;
}
::selection{
	background:#fff!important;
	color:#000!important;
}
.embedAuthorName-3mnTWj, a.anchor-3Z-8Bb.anchorUnderlineOnHover-2ESHQB.embedProviderLink-2Pq1Uw.embedLink-1G1K1D.embedProvider-3k5pfl,a.anchor-3Z-8Bb.anchorUnderlineOnHover-2ESHQB.embedTitleLink-1Zla9e.embedLink-1G1K1D.embedTitle-3OXDkz,span.embedProvider-3k5pfl{
	-webkit-text-fill-color: #eaeaea!important;
}
.searchHeader-1l-wpR .spinner-3_ktSp .spinnerPath-31nVuk, .spinnerWrapper-1JEMTl .spinner-3_ktSp .spinnerPath-31nVuk, path.fill,.css-19bqh2r, .attachButtonPlus-rUdX-B{
	fill: #fff!important;
}
.anchorUnderlineOnHover-2ESHQB:hover{
	color:#00a0ff!important;
}
.bd-modal-wrapper .footer button, .bd-modal-wrapper .header, .bd-modal-wrapper .bd-modal-body, .toast-success, [class*="reaction-"], .container-1D34oG, .membershipDialogHouse1-3KhKE-, .message-2qRu38, .wrapper-2aW0bm, .content-1o0f9g, .messageGroupWrapper-o-Zw7G, .scroller-zPkAnE, .popout-13LQ_3, .wrapper-3D2qGf, [style*="background-color: rgb(67, 181, 129);"], [class*="actionButton"], [class*="peopleList"],.tierBody-16Chc9, .css-15ejc46-control, .tierHeader---JJFb, .tier-1EY-yj, .perk-2WeBWW, .wrapper-3nSjSv, .perksModal-fSYqOq, .ctaBar-2UsjF2, .scrollableContainer-2NUZem, .searchBar-6Kv8R2 .searchBarComponent-32dTOx, .lookFilled-1Gx00P.colorRed-1TFJan, .messagesPopoutWrap-1MQ1bW, .wrapper-29NfPK, .wrapper-29NfPK.minimum-2d6zH6 .actions-2vadYq .center-1Vp33r, .emojiPicker-3m1S-j .categories-1feg4n, .infoBar-U6oBFk, .embedFull-2tM8--, .root-1gCeng, .lookFilled-1h1y05.select-1Pkeg4, .optionLabel-2CkCZx, .tierBody-x9kBBp, .tierHeaderContent-2-YfvN, .appMount-3lHmkl, .app-2rEoOp, .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z, .calendarPicker-2yf6Ci .react-datepicker__day--disabled, .calendarPicker-2yf6Ci .react-datepicker__day--outside-month, .calendarPicker-2yf6Ci .react-datepicker, .calendarPicker-2yf6Ci .react-datepicker__header, .scroller-305q3I, .headerClickable-2IVFo9, .headerDefault-1wrJcN, .body-3ND3kc, .searchResultsWrap-2DKFzt, .content-yTz4x3, .bodyInner-245q0L, .footer-1fjuF6, .messagesPopout-24nkyi, .jumpButton-Ia2hRJ, html,body, .container-3ayLPN, .scroller-1JbKMe, .friendsTable-133bsv .friendsTableBody-1ZhKif, .searchResult-3pzFAB .hit-NLlWXA, .layer-3QrUeG, .contentRegionScroller-26nc1e, .sidebarRegionScroller-3MXcoP, .scroller-2TZvBN, .searchHeader-1l-wpR, .channelSeparator-1X1FuH .channelName-1QajIf, .akaBadge-1M-1Gw, .botTagInvert-18-95s, .clickable-2ap7je .header-2o-2hj:hover, .selected-WP3kCM .header-2o-2hj, .panels-j1Uci_, .childWrapper-anI2G9, .searchBar-6Kv8R2, .tabBar-1E2ExX .item-3HpYcP, .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9, .invite-18yqGF, .section-hypesquad-cta, .sectionHypesquadPerks-1nbGDZ, .section-hypesquad-about, .page-hypesquad.theme-blurple, .userGreeting-2JeMIN, .detailsBlock-18YUDo, .page-hypesquad .hero-bg-wrapper, .animationWrapper-2suFNB, .sectionJobsCarousel-3s4Vqr, .wrapper-3L1vsW, .sectionJobs-34F39V, .card-3A1H8E, .contentWrapper-pUmmXF, .moreCommunities-2E-7mU, .outerWrapper-32i7Qc, .mention-1f5kbO, .lookInverted-2D7oAl.colorYellow-2JqYwt, .regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3, .regionSelectModal-12e-57, .form-236Xmo .controlGroup-2GQ-D1 input[type=email], .form-236Xmo .controlGroup-2GQ-D1 input[type=number], .form-236Xmo .controlGroup-2GQ-D1 input[type=password], .form-236Xmo .controlGroup-2GQ-D1 input[type=text], .form-236Xmo .controlGroup-2GQ-D1 textarea, .form-236Xmo .formActions-1-Snm-, .folderIconWrapper-226oVY, .container-1giJp5, .flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyCenter-3D2jYp.alignCenter-1dQNNs.noWrap-3jynv6.headerTop-3C2Zn0, .inner-2P4tQO, .spacer-1fA9zc.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr, .headerClickable-2IVFo9, .container-2XeR5Z, .uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc, .quickswitcher-3JagVE, .input-2VB9rf, .topSectionSpotify-1lI0-P, .lookInverted-2D7oAl.colorGreen-29iAKY, .modal-yWgWj-,.footer-3rDWdC,.header-ykumBX,.container-3baos1,.header-2nhbou,.footer-30ewN8,.modal-3v8ziU,.lookFilled-1Gx00P.colorPrimary-3b3xI6,.cardWarning-2yPNAa,.container-1UB9sr,.wumpusTooltip-65YlMT,.unread-1xRYoj,.audioControls-2HsaU6, .videoControls-2kcYic,.wrapperAudio-1jDe0Q,.container-3JkMqB .search-MFQ5bU,.codeRedemptionRedirect-1wVR4b,.connection-1fbD7X.elevationLow-2lY09M.marginBottom8-AtZOdT,.tier1Banner-1B_WXY,.dividerContent-2L12VI,.background-3N1V7e,.horizontalButtons-31inDG .subscribeButton-2h8nOh,.topSectionPlaying-1J5E4n,.activity-11LB_k,.pill-1dHPfk,.bubble-3we2di,.elevationHigh-1PneE4,.lookGhost-2Fn_0-.colorGrey-2DXtkV,.card-FDVird:before,.headerDefault-1wrJc,.cardPrimaryEditable-3KtE4g,.footer-2yfCgX,.modal-3HD5ck,.container-16j22k.fixClipping-3qAKRb,.container-16j22k,.attachment-33OFj0,.newMessagesBar-mujexs,.autocomplete-Z9HwQh,.authBox-hW6HRx,.botTagRegular-2HEhHi,.title-3qD0b-.container-1r6BKw,.embedInner-1-fpTo,.wrapper-1Rf91z,.acronym-2mOFsV,.loading-Ags1CY,.container-PNkimc,.container-2Thooq,.channelTextArea-rNsIhG,.innerDisabled-2mc-iF,.container-1YxwTf,.divider-3gKybi.dividerRed-MKoLlr.divider-3zi9LO,.messages-3amgkR,.markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline,.members-1998pB, .membersGroup-v9BXpm,.menu-Sp6bN1,.localeList-4Zmfi9,.fieldInputOpen-3HhxUo,.fieldWrapOpenBrand-J_plI_,.lookFilled-1Gx00P.colorBrand-3pXr91,.canvas-3XuBXe,.container-1r6BKw,.container-3gCOGc,.cardPrimary-1Hv-to,.friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableAddHeader-m9bzFr,.wrapper-1cBijl,.container-3cGP6G,.typing-2GQL18,.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc.error-kKl9o2,.themedPopout-25DgLi .header-SsaQ8X, .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug,.jumpButton-3DTcS_,.body-3iLsc4,.footer-1fjuF6,.quickMessage-1yeL4E,.container-VSDcQc,.emojiPicker-3m1S-j,.lightTheme-3LGLQs.container-2XeR5Z,.emojiPicker-3m1S-j .stickyHeader-1SS0JU,.searchBar-3dMhjb,.jumpToPresentBar-9P20AM,.wrapper-3WhCwL,.bar-2Qqk5Z,.footer-1kmXd4,.itemGroup-1tL0uz,.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span,.topSectionNormal-2-vo2m,.lookFilled-1Gx00P.colorGreen-29iAKY,.popouts-3dRSmE,.wrapper-35wsBm,.uploadModal-2ifh8j,.lookInverted-2D7oAl.colorBrand-3pXr91,.contextMenu-HLZMGh,.hasMore-3e72_v button,.isMentionedCozy-3isp7y,.reaction-1ELvT8,.app-19_DXt,.appMount-3lHmkl{
	background:#000!important;
}
.bd-modal-wrapper .footer button:hover, [class*="ghostPill-"], .side-8zPYf6 .item-PXvHYJ:hover, #bd-settings-sidebar .ui-tab-bar-item.selected, .button-1ZiXG9:hover, .resultFocused-3aIoYe, .enabled-1t_Gxm:hover, [class*="actionButton"]:hover, [class*="peopleListItem"]:hover, .itemBase-1Qj4z6:hover, .listRow-hutiT_:hover, .optionNormal-12VR9V:hover, .side-8zPYf6 .item-PXvHYJ:active, .lookLink-9FtZy-.colorRed-1TFJan:hover .contents-18-Yxp, .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, .calendarPicker-2yf6Ci .react-datepicker__day:hover, .button-14-BFJ.enabled-2cQ-u7:hover, .option-96V44q.selected-rZcOL-, .wrapper-1ucjTd:hover .content-3at_AU, .selected-aXhQR6 .layout-2DM8Md, .clickable-1JJAn8:hover .layout-2DM8Md, .activeLink-22b0_I, .mention-1f5kbO:hover, .lookInverted-2D7oAl.colorYellow-2JqYwt:hover, span.expandedFolderBackground-2sPsd-, .selectorSelected-1_M1WV, .headerExpanded-CUEwZ5, .lookGhost-2Fn_0-.colorBrand-3pXr91, .connectedAccount-36nQx7:hover, .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover, .lookInverted-2D7oAl.colorGreen-29iAKY:hover, .item-3eFBNF:hover,.lookFilled-1Gx00P.colorPrimary-3b3xI6:hover,.lookFilled-1Gx00P.colorRed-1TFJan:hover,.button-2KyEfG:hover:not(.buttonScreenShareDisabled-1xwK5y),.button-2KyEfG:hover:not(.buttonScreenShareDisabled-1xwK5y),.unread-1xRYoj:hover,.lookOutlined-3sRXeN.colorBrand-3pXr91:hover,.closeButton-1tv5uR:hover,.newMessagesBar-mujexs:hover,.member-3W1lQa:hover .content-OzHfo4,.fieldWrapClosedBrand-1jWc-T:hover,.localeBase-27bssN:hover,.lookFilled-1Gx00P.colorBrand-3pXr91:hover,.item-3HpYcP.primary-3j8BhM.item-PXvHYJ.themed-OHr7kt,.friendsTable-133bsv .friendsRow-2yicud:hover,.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover,.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover, .topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover,.theme-dark .item-2J1YMK:active, .theme-dark .item-2J1YMK:hover,.row-rrHHJU.selected-1pIgLL,.item-1GzJrl:hover,.jumpToPresentBar-9P20AM:hover,.wrapper-3WhCwL:hover,.wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU, .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU, .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU, .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU,.passthroughSelected-1Eq0Kl,.item-1Yvehc:hover,.lookFilled-1Gx00P.colorGreen-29iAKY:hover,.button-3To2tQ.buttonSize-DbrWhv:hover,.lookInverted-2D7oAl.colorBrand-3pXr91:hover,.hasMore-3e72_v button:hover,.reaction-1ELvT8.reactionMe-23mbRf,.reaction-1ELvT8:hover{
	background:#333!important;
}
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S{
	background-color:#333!important;
}
.separator-42rNt0, .unread-3zKkbm, .item-2hkk8m, .dividerContent-2L12VI:after, .dividerContent-2L12VI:before{
	background-color:#fff!important;
}
.base-gE7OpD, .directionColumn-35P_nr, .searchAnswer-3Dz2-q,.searchFilter-2ESiM3,.button-2b6hmh:hover,.markDash-3hAolZ{
	background-color:#0000!important;
}
.uploadModal-2ifh8j .footer-3mqk7D, .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after, .option-96V44q:after{
	background:#0000!important;
}
.section-hypesquad-about .about-duties .about-duty, .modalNewUser-3IRw8L, .modalNewUser-3IRw8L>.steps-370EKx>li, .accountBtnInner-sj5jLs,.button-OhfaWu,.circleIconButton-jET_ig,.premiumPromo-yVfLiA,.progress-1IcQ3A{
	background-color:#000!important;
}
.separator-XqIyoz, .blockquoteDivider-2hH8H6, .tierInProgress-3mBoXq, .tierDefault-2qaRkD, .navItem-1RVMrr:after, .divider-23swzi, .mediaBarGrabber-1FqnbN, .mediaBarProgress-1xaPtl, .mediaBarProgress-1xaPtl:after, .mediaBarProgress-1xaPtl:before,.content-8biNdB ul li:before,.added-e1Pp41:after, .fixed-22Vcez:after, .improved-1F5LIN:after, .progress-1fjoBz:after,.guildSeparator-3s64Iy,.embedPill-1Zntps,.side-8zPYf6 .separator-gCa7yv,.attachButtonDivider-3Glu60,.barFill-23-gu-,.wanderingCubesItem-WPXqao,.divider-3FBTu8{
	background:#fff!important;
}
.bd-modal-wrapper .footer button, .bd-modal-wrapper .bd-modal-inner, .toast-success, [class="css-15ejc46-control"]:hover, [class*="reaction-"], .tooltipTop-XDDSxx,.tooltip-2QfLtc, .emptyCard-1RJw8n, .membershipDialogHouse1-3KhKE-, .message-2qRu38, .wrapper-2aW0bm, .content-1o0f9g, .messageGroupWrapper-o-Zw7G, .wrapper-3D2qGf, .popout-13LQ_3, [style*="background-color: rgb(67, 181, 129);"], [class*="actionButton"], .css-15ejc46-control, .tier-1EY-yj, .wrapper-3nSjSv, .tierBody-16Chc9, .tierHeader---JJFb, .ctaBar-2UsjF2, .perk-2WeBWW, .scrollableContainer-2NUZem, .searchBar-6Kv8R2 .searchBarComponent-32dTOx, .lookFilled-1Gx00P.colorRed-1TFJan, .messagesPopoutWrap-1MQ1bW, .wrapper-29NfPK.minimum-2d6zH6 .actions-2vadYq .center-1Vp33r, .container-3cGP6G, .embedFull-2tM8--, .container-VSDcQc, .cancelButton-2O3h8t, .root-1gCeng, .lookFilled-1h1y05.select-1Pkeg4, .emojiPicker-3m1S-j, .lookLink-9FtZy-.colorRed-1TFJan, .tier-3H4BXk, .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z, .jumpButton-Ia2hRJ, .akaBadge-1M-1Gw, .botTagInvert-18-95s, .invite-18yqGF, .animationWrapper-2suFNB, .userPopout-3XzG_A, .card-3A1H8E, .outerWrapper-32i7Qc, .mention-1f5kbO, .lookInverted-2D7oAl.colorYellow-2JqYwt, .regionSelectModal-12e-57, .regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3, .form-236Xmo .formActions-1-Snm-, .modalNewUser-3IRw8L, .inner-2P4tQO, .lookGhost-2Fn_0-.colorBrand-3pXr91, .headerClickable-2IVFo9, .headerExpanded-CUEwZ5, .uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc, .quickswitcher-3JagVE, .input-2VB9rf, .container-2XeR5Z, .lookInverted-2D7oAl.colorGreen-29iAKY, .menu-Sp6bN1, .popout-2iWAc-, .modal-yWgWj-, .modal-3v8ziU,.lookFilled-1Gx00P.colorPrimary-3b3xI6,.message-2qRu38,.cardWarning-2yPNAa,.container-1UB9sr,.wumpusTooltip-65YlMT,.unread-1xRYoj,.wrapperAudio-1jDe0Q,.audioControls-2HsaU6, .videoControls-2kcYic,.container-3JkMqB .search-MFQ5bU,.accountBtnInner-sj5jLs,.connection-1fbD7X.elevationLow-2lY09M.marginBottom8-AtZOdT,.css-oc2jo8-control,.horizontalButtons-31inDG .subscribeButton-2h8nOh,.lookOutlined-3sRXeN.colorTransparent-1ewNp9,.tier1Banner-1B_WXY,.pill-1dHPfk,.bubble-3we2di,.elevationHigh-1PneE4,.lookGhost-2Fn_0-.colorGrey-2DXtkV,.headerDefault-1wrJc,.modal-3HD5ck,.attachment-33OFj0,.newMessagesBar-mujexs,.autocomplete-Z9HwQh,.fieldWrapOpenBrand-J_plI_,.fieldInputOpen-3HhxUo,.botTagRegular-2HEhHi,.embedInner-1-fpTo,.innerDisabled-2mc-iF,.markup-2BOw-j code, .markup-2BOw-j code.inline,.popout-3sVMXz,.localeList-4Zmfi9,.authBox-hW6HRx,.lookFilled-1Gx00P.colorBrand-3pXr91,.cardPrimary-1Hv-to,.wrapper-1cBijl, .uploadModalIn-1z07Bv .uploadDropModal-2kTwbc.error-kKl9o2,.button-2b6hmh:hover,.imageWrapper-2p5ogY,.messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug,.quickMessage-1yeL4E,.lightTheme-3LGLQs.container-2XeR5Z,.searchBar-3dMhjb,.jumpToPresentBar-9P20AM,.wrapper-3WhCwL,.input-cIJ7To,.item-3T2z1R,.root-SR8cQa,.lookFilled-1Gx00P.colorGreen-29iAKY,.connectedAccount-36nQx7,.uploadModal-2ifh8j,.lookInverted-2D7oAl.colorBrand-3pXr91,.contextMenu-HLZMGh,.hasMore-3e72_v button,.reaction-1ELvT8{
	border: 1px solid #fff!important;
}
.bd-modal-wrapper .error, .bd-modal-wrapper .header, .tierHeaderContent-2-YfvN, .connectionHeader-2MDqhu{
	border-bottom:1px solid #fff!important;
}
.tooltipPointer-3ZfirK {
    border-top-color: #fff!important;
}
.featureBorder-7j4v58, .leaveActionWrapper-34XGz6, .membershipDialogSwitchHouses-1K8L1U, .infoBar-U6oBFk, .datePicker--XZbmJ .datePickerHint-3Q1Udw{
	border-top: 1px solid #fff!important;
}
.embedFull-2tM8--{
	border-left: 4px solid #fff!important;
}
.emojiPicker-3m1S-j .categories-1feg4n .selected-39BZ4S, .divider-JfaTT5, .attachWrapper-2TRKBi, .friendsTable-133bsv .friendsTableHeader-32yE7d, .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumn-eVHFqJ, .attachWrapper-1_D-pj, .divider-3wNib3, .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next, .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous, .calendarPicker-2yf6Ci .react-datepicker__day, .overridePlaceholder-14_rPI, .channelSeparator-1X1FuH:before, .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA, .itemGroup-1tL0uz, .auditLog-3jNbM6, .markup-2BOw-j blockquote, .codeRedemptionRedirect-1wVR4b,.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j,.lookOutlined-3sRXeN.colorBrand-3pXr91,.closeButton-1tv5uR,.checkbox-1ix_J3,.cardPrimaryOutline-29Ujqw,.lookOutlined-3sRXeN.colorWhite-rEQuAQ,.card-FDVird:before,.css-15ejc46-control,.cardPrimaryEditable-3KtE4g,.divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:after, .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:before,.divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:after, .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:before,.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo,.messageGroupWrapper-o-Zw7G,.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span,.checkbox-3kaeSU .checkboxInner-3yjcPe span,.wrapper-35wsBm,.lookOutlined-3sRXeN.colorPrimary-3b3xI6,.uploadModal-2ifh8j .footer-3mqk7D,.uploadModal-2ifh8j .inner-3nWsbo,.isMentionedCozy-3isp7y:after{
	border-color:#fff!important;
}
.thumb-2JwNFC, .track-1JN30G, .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scrollbar-2rkZSL .track-1JN30G, .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scrollbar-2rkZSL .thumb-2JwNFC, input.inputDefault-_djjkz.input-cIJ7To.size16-14cGz5.searchBoxInput-uJtBcv.searchInput-wFaj8i,.checked-3_4uQ9{
	border-color:#000!important;
}
[class*="peopleListItem"], .form-2fGMdU, .calendarPicker-2yf6Ci .react-datepicker__header{
	border-color:#0000!important;
}
.friendsTable-133bsv .friendsRow-2yicud+.friendsRow-2yicud, .containerCozy-jafyvG .divider-32i8lo,.channelTextArea-rNsIhG,.tabBarContainer-1s1u-z, .userInfoSection-2acyCx+.userInfoSection-2acyCx{
	border:none!important;
}
.tooltip-2QfLtc.da-tooltip.tooltipBottom-3ARrEK.da-tooltipBottom.tooltipBlack-PPG47z.da-tooltipBlack.update-clickme-tooltip, .base-34jWEe, .placeholder-3PlVv6, .membershipDialog-rVL-t_:after, .form-2fGMdU:before, .searchResult-3pzFAB .searchResultMessage-2VxO12.after-2g0jjc, .searchResult-3pzFAB .searchResultMessage-2VxO12.before-1x1q5S, .searchResult-3pzFAB::before, .channelNotice-1-XFjC, .wrapper-3L1vsW:before, .wavePath-haxJK1, .indicator-1afSc8, .bubble-3we2di:before,.welcomeMessage-3_Mcht,.notice-2FJMB4,.channelNotices-41mJbj .channelNotice-1-XFjC.quickswitcher-35bYg4,.children-19S4PO:after,.separator-2zcjq8,.channelNotices-41mJbj .channelNotice-1-XFjC,.divider-3573oO{
	display:none!important;
}
.tab-2Ixsn0, .totalResults-gxvzgw, .connectionAccountLabel-1DiK0A, .category-2ux-7P, .channelName-13-Sm9, .inviteCode-202N0U, .lighten-2aYaaU, .quickSelectLabel-2r3iJ_, .discrim-3rYTMj, .minorAction-OVxOke,.content-8biNdB ul li:before,.added-e1Pp41:after, .fixed-22Vcez:after, .improved-1F5LIN:after, .progress-1fjoBz:after,.channelTextAreaDisabled-rZtG8r,.friendsTable-133bsv .friendsRow-2yicud .discord-tag .discriminator,.standardSidebarView-3F1I7i,.privateChannels-1nO12o header,.attachButtonPlus-rUdX-B,.reactionBtn-2na4rd,.button-3Jq0g9,.content-P4SiGI,.button-2b6hmh,.addButtonIcon-3u-3Hu,.button-1w5pas,.button-3AYNKb,.spriteNormal-1wvG5n,.tip-2ab612,.uploadModal-2ifh8j .inner-3nWsbo .comment-4IWttf .label-3aiqT2 .optional--ezibr,.accountDetails-3k9g4n .discriminator,.item-2hkk8m{
	opacity:1!important;
}
.icon-RTGJu3:after, .icon-RTGJu3,.container-16j22k video.ready-36e6Vk, .rtcConnectionQualityFine-2J6i8z .ping-2NgC8E, .inner-btChU7 .rtc-connection-quality-fine .ping,.icon-2doZ3q,.reactionBtn-2na4rd,.button-3Jq0g9,.icon-2Po-VO,.image-2JDb81,.connectedAccountOpenIcon-2cNbq5,.container-3PXSwK{
	filter:	grayscale(100%) brightness(9)!important;
}
.wrapper-3Z-vWm{
	filter:	invert(1)!important;
}
.checked-3_4uQ9{
	filter:	invert(1) grayscale(100%) brightness(9)!important;
}
.wrapper-25eVIn {
	filter: drop-shadow(0 0 0 #fff)drop-shadow(0 0 0 #fff)drop-shadow(0px 0 1px #fff)drop-shadow(0 0 0 #fff)drop-shadow(0 0 0 #fff)drop-shadow(0 0 0 #fff)!important;
}
.cancelButton-2O3h8t:hover{
	text-decoration: none!important;
}
.cancelButton-2O3h8t {
	margin-right: 10px!important;
}
[class*="footer-"]{
    box-shadow: inset 0 1px 0 rgb(255, 255, 255)!important;
}
/* Скроллы для Firefox */
.scrollerThemed-2oenus.themedWithTrack-q8E3vB .scrollbar-2rkZSL .thumb-2JwNFC, .scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scrollbar-2rkZSL .thumb-2JwNFC {
	background: #fff!important;
}
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scrollbar-2rkZSL .track-1JN30G, .scrollbar-2rkZSL, .pad-29zQak{
	background:#000!important;
}

/* ЧЕКБОКСЫ */
.valueChecked-m-4IJZ {
	background-color: #fff!important;
	box-shadow: 0 1px 0 0 #fff, 0 0 0 1px #fff!important;
}
.valueUnchecked-2lU_20{
	background-color: #000!important;
	box-shadow: 0 1px 0 0 #fff, 0 0 0 1px #fff!important;
}
.size-3rFEHg:after{
	background:#000!important;
}
.valueUnchecked-2lU_20:after{
	background:#fff!important;
}
/* КОНЕЦ ЧЕКБОКСЫ */
.markup-2BOw-j code, .markup-2BOw-j code.inline,.messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug,.wrapper-3WhCwL{
	border-radius: 5px!important;
}
.messageGroupWrapper-o-Zw7G {
	padding-right: 0px!important;
}
.markup-2BOw-j code.inline {
	font-size: 66%!important;
}
/* Секретные css-фиксы для клиента */

/* Верхняя панель */
.typeWindows-1za-n7{
	background:#000!important;
}

/* СКРОЛЛИНГИ */
.scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: #fff!important;
    border: 3px solid #fff!important;
}
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: #fff!important;
}
.scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: #000!important;
    border-color: #fff!important;
}

/* BetterDiscord Style */
#bd-settings-sidebar .ui-tab-bar-separator, #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked, #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked:before{
	background:#fff!important;
}
.bda-slist li, #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch, .bda-slist .bda-footer button, .bd-pfbtn, .bd-toast{
	border: 1px solid #fff!important;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch, #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked:before, .bda-slist li, .bda-slist .bda-footer button, .bd-pfbtn, .bd-toast{
	background:#000!important;
}
.bda-slist .bda-footer button:hover, .bd-pfbtn:hover{
	background:#333!important;
}
#bd-settingspane-container .ui-switch-item .style-description, .bda-slist .bda-header{
	border-bottom: 1px solid #fff!important;
}
.bda-slist .bda-footer{
	border-top: 1px solid #fff!important;
}
#bd-pub-li{
	display:none!important;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before {
    top: 2px!important;
    left: 2px!important;
    bottom: 2px!important;
}
#files_directDownload .file{
	background:#000!important;
	border: 1px solid #fff!important;
}
#files_directDownload .file .progress-bar{
	background:#fff!important;
}
#files_directDownload .file svg{
	fill:#fff!important;
}